
# Réécriture des urls pour urls propres

# RewriteEngine On
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://www.lescaravanesdelabesbre.fr/$1 [R,L]

RewriteEngine On
RewriteBase /

# Redirection de /index.php vers /
RewriteCond %{THE_REQUEST} \s/index\.php [NC]
RewriteRule ^ / [R=301,L]
# Réécriture de /pageaccueil vers /index.php
RewriteRule ^/?$ index.php [L]

# Redirection de /informations.php vers /informations
RewriteCond %{THE_REQUEST} \s/informations\.php [NC]
RewriteRule ^ /informations [R=301,L]
# Réécriture de /informations vers /informations.php
RewriteRule ^informations/?$ informations.php [L]

# Redirection de /tourisme.php vers /tourisme
RewriteCond %{THE_REQUEST} \s/tourisme\.php [NC]
RewriteRule ^ /tourisme [R=301,L]
# Réécriture de /tourisme vers /tourisme.php
RewriteRule ^tourisme/?$ tourisme.php [L]

# Redirection de /camping.php vers /camping
RewriteCond %{THE_REQUEST} \s/camping\.php [NC]
RewriteRule ^ /camping [R=301,L]
# Réécriture de /camping vers /camping.php
RewriteRule ^camping/?$ camping.php [L]

# Redirection de /souvenirDeVacances.php vers /souvenirDeVacances
RewriteCond %{THE_REQUEST} \s/souvenirDeVacances\.php [NC]
RewriteRule ^ /souvenirDeVacances [R=301,L]
# Réécriture de /souvenirDeVacances vers /souvenirDeVacances.php
RewriteRule ^souvenirDeVacances/?$ souvenirDeVacances.php [L]

# Redirection de /formulaireDeContact.php vers /formulaireDeContact
RewriteCond %{THE_REQUEST} \s/formulaireDeContact\.php [NC]
RewriteRule ^ /formulaireDeContact [R=301,L]
# Réécriture de /formulaireDeContact vers /formulaireDeContact.php
RewriteRule ^formulaireDeContact/?$ formulaireDeContact.php [L]

# Redirection de /mentionsLegales.php vers /mentionsLegales
RewriteCond %{THE_REQUEST} \s/mentionsLegales\.php [NC]
RewriteRule ^ /mentionsLegales [R=301,L]
# Réécriture de /mentionsLegales vers /mentionsLegales.php
RewriteRule ^mentionsLegales/?$ mentionsLegales.php [L]

# Redirection de /politiquedeConfidentialite.php vers /politiquedeConfidentialite
RewriteCond %{THE_REQUEST} \s/politiquedeConfidentialite\.php [NC]
RewriteRule ^ /politiquedeConfidentialite [R=301,L]
# Réécriture de /politiquedeConfidentialite vers /politiquedeConfidentialite.php
RewriteRule ^politiquedeConfidentialite/?$ politiquedeConfidentialite.php [L]

# Redirection de /conditionsGeneralesDeVente.php vers /conditionsGeneralesDeVente
RewriteCond %{THE_REQUEST} \s/conditionsGeneralesDeVente\.php [NC]
RewriteRule ^ /conditionsGeneralesDeVente [R=301,L]
# Réécriture de /conditionsGeneralesDeVente vers /conditionsGeneralesDeVente.php
RewriteRule ^conditionsGeneralesDeVente/?$ conditionsGeneralesDeVente.php [L]

# Redirection de /resaContact.php vers /resaContact
RewriteCond %{THE_REQUEST} \s/resaContact\.php [NC]
RewriteRule ^ /resaContact [R=301,L]
# Réécriture de /resaContact vers /resaContact.php
RewriteRule ^resaContact/?$ resaContact.php [L]