
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');



html{
	font-size: 14px;
	margin: 0;
	padding: 0;
}
	
/*body*/
body {
	font-family: 'Roboto Slab', serif;
    background-color: rgba(245, 245, 245, 0.767);
    margin: 0;
	padding: 20px;
  }
  body:before, body:after {
	content: "";
	position: relative;
	z-index: 999;
	background: inherit;
	left: 0;
	right: 0;
	height: 20px;
  }
  body:before {
	top: 0;
  }
  body:after {
	bottom: 0;
  }
/*End body*/


iframe {
    width: 100%;
	
}

video{
	width: 100%;
}

.clear{
    clear: both;
} 

.h4Index{
	background-color:  rgba(17, 150, 239, 0.547) !important;
	font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1200px) {
    .h4Index{
		font-size: 15px !important;
	}
       
 }

.locationIndex .h4Index{
	margin-top: -20px !important;
}


/*----------------------------------------------------------------------------------------*/

                                     /*HEADER */
									
/*navbar */
.textLogo{
	margin-top: -60px;
	
}

  .orange{
    color: #ff6600;
    font-size: 75px;
    }

	#mainNavigation a {
		font-family:'Times New Roman', Times, serif;
		font-weight:600;
		font-size:14px;
		text-transform:uppercase;
		letter-spacing:2px;
		font-family: 'Times New Roman', Times, serif;
	  }
	  
	  .nav-item a{
		color:orangered;
	  }
	  .nav-item a:hover {
		color: rgb(91, 166, 236);
	  }
	  .nav-item{
		min-width:12vw;
	  }
	  #mainNavigation {
		position:relative;
		top:0;
		left:0;
		width:100%;
		z-index:123;
		padding-bottom:20px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	  background: -moz-linear-gradient(top,  rgba(70, 67, 67, 0.65) 0%, rgba(149, 143, 143, 0) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top,  rgba(74, 72, 72, 0.65) 0%,rgba(151, 147, 147, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom,  rgba(82, 79, 79, 0.65) 0%,rgba(148, 143, 143, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	  }
	  
	  .hamburger{
		background-color: rgb(145, 141, )
	  }

	  .navbar-dark .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;..");
		color: black;
	  }

	  .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	  }

/* end navbar */

/* banner */
.banner{
	height: 500px;
	width: 100%;
	
}
@media screen and (max-width: 1200px) {
    .banner{
		width: 100%;
		height: 200px;
	}
       
 }

 /* End banner */

/* Météo + logoPal50*/
 .icon {
	position: relative;
	display: inline-block;
	width: 12em;
	height: 10em;
	font-size: 1em; /* control icon size here */
  }
  
  .cloud {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 3.6875em;
	height: 3.6875em;
	margin: -1.84375em;
	background: currentColor;
	border-radius: 50%;
	box-shadow:
	  -2.1875em 0.6875em 0 -0.6875em,
	  2.0625em 0.9375em 0 -0.9375em,
	  0 0 0 0.375em #fff,
	  -2.1875em 0.6875em 0 -0.3125em #fff,
	  2.0625em 0.9375em 0 -0.5625em #fff;
  }
  .cloud:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -0.5em;
	display: block;
	width: 4.5625em;
	height: 1em;
	background: currentColor;
	box-shadow: 0 0.4375em 0 -0.0625em #fff;
  }
  .cloud:nth-child(2) {
	z-index: 0;
	background: #fff;
	box-shadow:
	  -2.1875em 0.6875em 0 -0.6875em #fff,
	  2.0625em 0.9375em 0 -0.9375em #fff,
	  0 0 0 0.375em #fff,
	  -2.1875em 0.6875em 0 -0.3125em #fff,
	  2.0625em 0.9375em 0 -0.5625em #fff;
	opacity: 0.3;
	transform: scale(0.5) translate(6em, -3em);
	animation: cloud 4s linear infinite;
  }
  .cloud:nth-child(2):after { background: #fff; }
  
  .sun {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2.5em;
	height: 2.5em;
	margin: -1.25em;
	background: currentColor;
	border-radius: 50%;
	box-shadow: 0 0 0 0.375em #f4e003;
	animation: spin 12s infinite linear;
	background-color: #f4e003;
  }
  .rays {
	position: absolute;
	top: -2em;
	left: 50%;
	display: block;
	width: 0.375em;
	height: 1.125em;
	margin-left: -0.1875em;
	background: yellow;
	border-radius: 0.25em;
	box-shadow: 0 5.375em yellow;
  }
  .rays:before,
  .rays:after {
	content: '';
	position: absolute;
	top: 0em;
	left: 0em;
	display: block;
	width: 0.375em;
	height: 1.125em;
	transform: rotate(60deg);
	transform-origin: 50% 3.25em;
	background: yellow;
	border-radius: 0.25em;
	box-shadow: 0 5.375em yellow;
  }
  .rays:before {
	transform: rotate(120deg);
  }
  .cloud + .sun {
	margin: -2em 1em;
  }
  
  .rain,
  .lightning,
  .snow {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 3.75em;
	height: 3.75em;
	margin: 0.375em 0 0 -2em;
	background: currentColor;
  }
  
  .rain:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 1.125em;
	height: 1.125em;
	margin: -1em 0 0 -0.25em;
	background: #0cf;
	border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
	box-shadow:
	  0.625em 0.875em 0 -0.125em rgba(250, 246, 246, 0.2),
	  -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
	  -1.375em -0.125em 0 rgba(255,255,255,0.2);
	transform: rotate(-28deg);
	animation: rain 3s linear infinite;
  }
  
  .bolt {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.25em 0 0 -0.125em;
	color: #fff;
	opacity: 0.3;
	animation: lightning 2s linear infinite;
  }
  .bolt:nth-child(2) {
	width: 0.5em;
	height: 0.25em;
	margin: -1.75em 0 0 -1.875em;
	transform: translate(2.5em, 2.25em);
	opacity: 0.2;
	animation: lightning 1.5s linear infinite;
  }
  .bolt:before,
  .bolt:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: -1.625em 0 0 -1.0125em;
	border-top: 1.25em solid transparent;
	border-right: 0.75em solid;
	border-bottom: 0.75em solid;
	border-left: 0.5em solid transparent;
	transform: skewX(-10deg);
  }
  .bolt:after {
	margin: -0.25em 0 0 -0.25em;
	border-top: 0.75em solid;
	border-right: 0.5em solid transparent;
	border-bottom: 1.25em solid transparent;
	border-left: 0.75em solid;
	transform: skewX(-10deg);
  }
  .bolt:nth-child(2):before {
	margin: -0.75em 0 0 -0.5em;
	border-top: 0.625em solid transparent;
	border-right: 0.375em solid;
	border-bottom: 0.375em solid;
	border-left: 0.25em solid transparent;
  }
  .bolt:nth-child(2):after {
	margin: -0.125em 0 0 -0.125em;
	border-top: 0.375em solid;
	border-right: 0.25em solid transparent;
	border-bottom: 0.625em solid transparent;
	border-left: 0.375em solid;
  }
  
  .flake:before,
  .flake:after {
	content: '\2744';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.025em 0 0 -1.0125em;
	color: #fff;
	list-height: 1em;
	opacity: 0.2;
	animation: spin 8s linear infinite reverse;
  }
  .flake:after {
	margin: 0.125em 0 0 -1em;
	font-size: 1.5em;
	opacity: 0.4;
	animation: spin 14s linear infinite;
  }
  .flake:nth-child(2):before {
	margin: -0.5em 0 0 0.25em;
	font-size: 1.25em;
	opacity: 0.2;
	animation: spin 10s linear infinite;
  }
  .flake:nth-child(2):after {
	margin: 0.375em 0 0 0.125em;
	font-size: 2em;
	opacity: 0.4;
	animation: spin 16s linear infinite reverse;
  }
  
  
  /* Animations */ 
  
  @keyframes spin {
	100% { transform: rotate(360deg); }
  }
  
  @keyframes cloud {
	0% { opacity: 0; }
	50% { opacity: 0.3; }
	100% {
	  opacity: 0;
	  transform: scale(0.5) translate(-200%, -3em);
	}
  }
  
  @keyframes rain {
	0% {
	  background: #0cf;
	  box-shadow:
		0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
		-0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
		-1.375em -0.125em 0 #0cf;
	}
	25% {
	  box-shadow:
		0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
		-0.875em 1.125em 0 -0.125em #0cf,
		-1.375em -0.125em 0 rgba(255,255,255,0.2);
	}
	50% {
	  background: rgb(252, 250, 250);
	  box-shadow:
		0.625em 0.875em 0 -0.125em #0cf,
		-0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
		-1.375em -0.125em 0 rgba(255,255,255,0.2);
	}
	100% {
	  box-shadow:
		0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
		-0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
		-1.375em -0.125em 0 #0cf;
	}
  }
  
  @keyframes lightning {
	45% {
	  color: #fff;
	  background: #fff;
	  opacity: 0.2;
	}
	50% {
	  color: #0cf;
	  background: #0cf;
	  opacity: 1;
	}
	55% {
	  color: #fff;
	  background: #fff;
	  opacity: 0.2;
	}
  }
  
  /* .meteoContainer {
  background-color: rgba(241, 21, 21, 0.874);
  border: 5px solid rgb(17, 150, 239);
  } */

  .logoPal50{
	position: relative;
	transition: transform .8s;/*zoom survol souris*/
    margin-bottom: 20px;

 }
 .logoPal50:hover{/*zoom survol souris*/
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
}

.textLogo50{
	font-family: 'Times New Roman', Times, serif;
}
  /* Fin météo + logoPal50 */
                                         /* END HEADER */
/*----------------------------------------------------------------------------------------------------*/
                                          /*INDEX PAGE*/

												  
 /*Intro */

.h1Index{
	background-color: rgba(17, 150, 239, 0.547);
	font-family: 'Times New Roman', Times, serif;
}

 @media screen and (max-width: 1200px) {
    .h1Index{
		font-size: 18px;
	}
       
 }

.textIntro {
	text-align: justify;
	margin-top: 60px;
}

 @media screen and (max-width: 1400px) {
    .textIntro{
		margin-top: 40px;
	}
       
 }
 
/* end tIntro */

/* Billeterie entre les 2 vidéos */

 .logoPal{
	position: relative;
    top: -75px;
	transition: transform .8s;/*zoom survol souris*/
margin-bottom: 20px;

 }
 .logoPal:hover{/*zoom survol souris*/
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
}
	
	.billeterie{
		font-family: 'Times New Roman', Times, serif;
        padding-top: 20px;
	}
/* end Billeterie entre les 2 vidéos  */
	
/*vidéos  le pal */
.videoPal{
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}

.videoPal1 {
	width: 100%!important;
	height: 300px !important;
	
}

@media screen and (max-width: 1200px) {
    .videoPal1{
		width: 100% !important;
		height: auto !important;
	}
       
 }

/* end vidéos  le pal */


/*Caroussel*/
.carousel{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
    
}

.carouselIndex{
	height: 50%;
	width: 50%;
}
@media screen and (max-width: 1200px) {
    .carouselIndex{
		height: auto;
		width: auto;
		
       
 }
}
/* End caroussel*/

/* AvisClients*/
 .avisClients{
	background: #27258d71;
	background: -webkit-linear-gradient(to right, #4389A2, #258b8d58);/*utilisée pour créer un dégradé linéaire en CSS et est généralement utilisée pour les arrière-plans de page ou les arrière-plans de zones spécifiques.*/
	background: linear-gradient(to right, #4389A2,#258b8d58);/*permet de créer un dégradé linéaire en spécifiant deux ou plusieurs couleurs qui seront progressivement mélangées les unes aux autres le long d'un axe linéaire.*/
	height: 75% !important;
	
  }
   
  #avi {
	font-size: 1.5em;
	font-family: 'Satisfy', curve;
	line-height: 1.3em;/* utilisée pour définir la hauteur de ligne d'un élément HTML. En français, "line-height" se traduit par "hauteur de ligne*/
	letter-spacing: 1px;
  }
  
  #avi:before {
	  content: open-quote;/*En français, la valeur pour le contenu d'une citation ouvrante en CSS est open-quote. Par exemple, si vous souhaitez ajouter des guillemets français à une citation en utilisant CSS*/
  }
  
  #avi:after {
	  content: close-quote;
  }
  
  #auteur {
	font-size: 1.5em;
	font-style: italic;
  }
  
  #nouveau {
	background: #f45106;
	background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
	background: linear-gradient(to right, #ff5e62, #ff9966);
	cursor: pointer;/*utilisée pour changer l'apparence du curseur de la souris lorsqu'il survole un élément HTML. En utilisant cette propriété, vous pouvez changer le curseur de la souris en une petite main pointant, ce qui indique à l'utilisateur que l'élément est interactif et peut être cliqué.*/
  }
  /* End AvisClients*/

                                 /* END INDEX PAGE*/

/*----------------------------------------------------------------------------------------------------*/

                                 /* INFORMATIONS PAGE*/
.info {
padding: 10px;
border: 1px solid #ddd;
background: #FFF;
/*CSS3 effects */
background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
border-radius: 2px 2px 2px 2px;
box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}

                                 /* END INFORMATIONS PAGE*/

/*----------------------------------------------------------------------------------------------------*/
  
								     /*TOURISME PAGE*/

.afficheTourisme {
	padding: 10px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
	
}

.imgTourismeLogo{
	margin-top: -160px;
}

.sectionTourime{
	margin-top: -50px;
}


.slideShow{ 
	padding: 10px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
	}
	/* End slideShow*/

/*slideShow */

/* End slideShow*/
                                     /*END TOURISME PAGE*/

/*----------------------------------------------------------------------------------------------------*/
	
                                         /* FOOTER */

footer{
   height: 48%;
    background: rgba(230, 122, 22, 0.883);   
}

/*@media (max-width: 991px) {
	.footer {
	  flex-wrap: wrap;
	}
	.footer .col-md-6 {
	  width: 100%;
	  margin-bottom: 30px;
	}
  }*/

.copyright{
    text-align: center;
    color: #fff;
    font-size: 15px; 
    
}
.img1{
    width: 330px;
    height: 650px;
    margin-top: 50px;
    margin-left: 50px; 
} 
.img2{
    
    height: 180px;
    width:205px;
    text-align: center;
}
.img3{
   text-align: center;
   
}
/* END FOOTER */

.meteoContainer {
	background-color: rgba(239, 109, 17, 0.295);
	
	}