
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*, ::before, ::after{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
	font-size: 14px;
	height: 100%;
}

body{
	height: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(245, 245, 245, 0.767);
    margin: 0;
  
}

.clear{
    clear: both;
} 

/*navbar */
  .orange{
    color: #ff6600;
    font-size: 75px;
    }

	.navbar-nav a:hover{
		color: orangered;
	}
/* end navbar */

/* textInTro */
.textIntro {
	text-align: justify;
	font-size: 0,5rem;???????????????????????????????????
}
/* end textIntro */

/* Billeterie entre les 2 vidéos */

 .logoPal{
	position: relative;
    top: -75px;
	transition: transform .8s;/*zoom survol souris*/
margin-bottom: 20px;

 }
 .logoPal:hover{/*zoom survol souris*/
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
}
	
	.billeterie{
		
        padding-top: 20px;
	}

	/* end Billeterie entre les 2 vidéos  */
	
/*vidéos  le pal */

.videoPal1 {
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}
 



.videoPal2{
    padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/* CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

/* end vidéos  le pal */



/*.overlay{
   background: rgb(244, 239, 239);
   height: 100%;
   width: 190px;
   padding: 20px;
   border-radius: 10px 0 0 10px;
   text-align: center;
   box-sizing: border-box;/* pour mettre à niveau espace texte avec image 
}*/



/*.offre{
    
    margin-top: -40px;
    margin-bottom: 30px;
    
}


.offre article{
    width:380px;
    height: 300px;
    float:left;
    border-radius: 10px;
    margin-right: 20px;
    
}
.offre article:first-child{
   margin-left: 25px; 
}

article h4{
    border-bottom: #000 1px solid;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.offre p{
    text-align: center;
    margin-bottom: 20px;
}

.button2{
    background-color: #23a519c6;
    padding: 6px 20px;
    border-radius: 3px;
    color: white;
    
}
.button2:hover{
    background-color: #22a5196d;
    padding: 6px 20px;
    border-radius: 3px;
    color: white;
    
}
.offre h2{
    color: rgba(0, 0, 0, 0.788);
}
*/

@media screen and (max-width: 1050px) {
    .carouseTitle{
       font-size: 1em;
    }
 }

 
/* caroussel index*/


/* FOOTER */
.img1{
    width: 330px;
    height: 450px;
    margin-top: 50px;
    margin-left: 50px; 
} 

footer{
    height: 250px;
    background: rgba(230, 122, 22, 0.883);
   
    
}
.copyright{
    text-align: center;
    color: #fff;
    font-size: 15px; 
    
}
.img2{
    
    height: 180px;
    width:205px;
    text-align: center;
}
.img3{
   text-align: center;
}
/* END FOOTER */