
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');



html{
	font-size: 14px;
	margin: 0;
	padding: 0;
}
	
/*body*/
body {
	font-family: 'Roboto Slab', serif;
    background-color: rgba(245, 245, 245, 0.767);
    margin: 0;
	padding: 20px;
  }
  body:before, body:after {
	content: "";
	position: relative;
	z-index: 999;
	background: inherit;
	left: 0;
	right: 0;
	height: 20px;
  }
  body:before {
	top: 0;
  }
  body:after {
	bottom: 0;
  }
/*End body*/


iframe {
    width: 100%;
	
}

video{
	width: 100%;
}

.clear{
    clear: both;
} 
/*----------------------------------------------------------------------------------------*/

                                     /*HEADER */

/*navbar */
.textLogo{
	margin-top: -60px;
}

  .orange{
    color: #ff6600;
    font-size: 75px;
    }

	#mainNavigation a {
		font-family:'Times New Roman', Times, serif;
		font-weight:600;
		font-size:14px;
		text-transform:uppercase;
		letter-spacing:2px;
		
	  }
	  
	  .nav-item a{
		color:orangered;
	  }
	  .nav-item a:hover {
		color: rgb(91, 166, 236);
	  }
	  .nav-item{
		min-width:12vw;
	  }
	  #mainNavigation {
		position:relative;
		top:0;
		left:0;
		width:100%;
		z-index:123;
		padding-bottom:20px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	  background: -moz-linear-gradient(top,  rgba(70, 67, 67, 0.65) 0%, rgba(149, 143, 143, 0) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top,  rgba(74, 72, 72, 0.65) 0%,rgba(151, 147, 147, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom,  rgba(82, 79, 79, 0.65) 0%,rgba(148, 143, 143, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	  }
	  #navbarNavDropdown.collapsing .navbar-nav,
	  #navbarNavDropdown.show .navbar-nav{
		background:#f2f0f0;
		padding:12px;
	  }
	  .navbar-toggler .hamburger{
		
	  }
	.hamburger{
		background-color: black;
		text-decoration-color: b;
	}
	

/* end navbar */

/* banner */
.banner{
	height: 500px;
	width: 80%;
	
}
@media screen and (max-width: 1200px) {
    .banner{
		width: 100%;
		height: 200px;
	}
       
 }

 /* End banner */
                                         /* END HEADER */
/*----------------------------------------------------------------------------------------------------*/
                                          /*INDEX PAGE*/
 /*Intro */
 .index{
	margin-top: -90px;
 }

 @media screen and (max-width: 1200px) {
    .index{
		margin-top: 2px;
	}
       
 }

 .banner3{
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
 }

.textIntro {
	text-align: justify;
}
/* end tIntro */

/* Billeterie entre les 2 vidéos */

 .logoPal{
	position: relative;
    top: -75px;
	transition: transform .8s;/*zoom survol souris*/
margin-bottom: 20px;

 }
 .logoPal:hover{/*zoom survol souris*/
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
}
	
	.billeterie{
		
        padding-top: 20px;
	}
/* end Billeterie entre les 2 vidéos  */
	
/*vidéos  le pal */
.videoPal{
	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}
/* end vidéos  le pal */

/*Caroussel*/
.carousel{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

	padding: 15px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
    
}
/* End caroussel*/

                                 /* END INDEX PAGE*/

/*----------------------------------------------------------------------------------------------------*/

                                 /* INFORMATIONS PAGE*/
.info {
padding: 10px;
border: 1px solid #ddd;
background: #FFF;
/*CSS3 effects */
background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
border-radius: 2px 2px 2px 2px;
box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
}

                                 /* END INFORMATIONS PAGE*/

/*----------------------------------------------------------------------------------------------------*/
  
								     /*TOURISME PAGE*/

.afficheTourisme {
	padding: 10px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
	
}

/*slideShow */
.slideShow{ 
	padding: 10px;
	border: 1px solid #ddd;
	background: #FFF;
	/*CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2); 
	}
	/* End slideShow*/
                                     /*END TOURISME PAGE*/

/*----------------------------------------------------------------------------------------------------*/

                                         /* FOOTER */

footer{
    height: 250px;
    background: rgba(230, 122, 22, 0.883);
   
    
}
.copyright{
    text-align: center;
    color: #fff;
    font-size: 15px; 
    
}
.img1{
    width: 330px;
    height: 450px;
    margin-top: 50px;
    margin-left: 50px; 
} 
.img2{
    
    height: 180px;
    width:205px;
    text-align: center;
}
.img3{
   text-align: center;
}
/* END FOOTER */

